@min-width: 1200px;

@backgroundWhite: #fff;
@backgroundColor: #e1e4e6;

@leftBackground: #2d4054;
@leftTextColor: #ccc;
@leftTextColor2: #999;

@buildingBackground: #ff9a2a;
@idleBackground: #7fbc39;

@blueDark: #01869a;
@blueLight: #00b4cf;
