@import '../../../styles/globalVariables.less';

.filter {
  margin-top: 15px;
  height: 50px;
  background: @backgroundWhite;
  .flex;

  .filter-container {
    .flex-1;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    .type {
      .flex;
      height: 100%;

      div {
        .flex-1;
        .flex-h-v-center;
        border-right: 1px solid rgba(225, 228, 230, 0.8);
        cursor: pointer;
      }

      .active {
        color: @blueLight;
        border-bottom: 3px solid @blueLight;
      }
    }

    .filter-search {
      .flex-v-center;
      height: 34px;
      margin: 8px 80px 8px 0;
      background: @backgroundColor;
      opacity: 0.7;

      .icon-search {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0.3;
      }

      input {
        border: none;
        background: none;

        &:focus {
          outline: none;
        }
      }
    }

    .filter-display {
      height: 100%;
      .flex-v-center;
      .flex-row-end;
      margin-right: 5px;

      span {
        font-size: 20px;
        margin-right: 15px;

        &:last-child {
          color: @blueLight;
        }
      }
    }
  }
}
