@import '../../../styles/globalVariables.less';

.filter {
  margin-top: 15px;
  height: 50px;
  display: flex;
  background: @backgroundWhite;

  .container {
    flex: 1;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    .type {
      display: flex;
      height: 100%;

      div {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        border-right: 1px solid rgba(225, 228, 230, 0.8);
        cursor: pointer;
        font-weight: bold;
      }

      .active {
        border-bottom: 3px solid @blueLight;
      }
    }
  }
}
