.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: 0 2px 2px -2px grey;
  .content {
    width: 1366px;
    text-align: center;
    img {
      height: 40px;
    }
  }
}
