@import '../../styles/globalVariables.less';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 2px -2px grey;
  background: #ffffff;

  .content {
    width: @min-width;
    display: flex;
    justify-content: space-between;
    img {
      height: 40px;
    }

    .avatar {
      cursor: pointer;
      float: right;
      display: inline-flex;
      align-items: center;

      img {
        height: 38px;
        border: 1px solid grey;
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    .user-option {
      position: absolute;
      top: 40px;
      padding: 10px 0;
      background-color: #ffffff;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);

      .user-option-item {
        padding: 6px 0px 4px 5px;
        color: #2d4054;
        display: flex;
        align-items: center;
        min-width: 128px;
        cursor: pointer;

        &:hover {
          background-color: #efefef;
        }

        .item-label {
          padding-left: 10px;
        }
      }
    }
  }
}
