@import '../../styles/globalVariables.less';

.navbar {
  background: @leftBackground;
  height: calc(100vh - 80px);
  padding-top: 20px;

  ul {
    padding-left: 0;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        display: flex;
        color: #ccc;
        padding: 13px 20px 12px;
        align-items: center;
      }

      &:hover a,
      .active {
        color: #00b4cf;
        background-color: #435466;
      }

      .iconfont {
        margin-right: 15px;
      }
    }
  }
}
