@import '../../styles/globalVariables.less';

.cruise-footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  background: @backgroundWhite;
  width: 100%;
  -webkit-box-shadow: 0 0 2px grey;
  -moz-box-shadow: 0 0 2px grey;
  box-shadow: 0 0 2px grey;
  .flex-h-v-center;
}
