@import './styles/globalVariables.less';

.App {
  min-width: @min-width;
  height: 100vh;
  background: @backgroundColor;

  .content {
    width: @min-width;
    margin: auto;
    display: flex;

    .left-side {
      width: 250px;
      height: calc(100vh - 60px);
      background: @leftBackground;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .main {
      width: calc(100% - 250px);
      padding: 20px 0 20px 30px;
    }
  }
}
