@import './styles/globalVariables.less';

.App {
  min-width: 1366px;
  height: 100vh;
  background: @backgroundColor;

  .content {
    width: 1366px;
    margin: auto;
    display: flex;

    .left-side {
      width: 250px;
      height: calc(100vh - 60px);
      background: @leftBackground;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
  }
}
